ServiceClient/Connected Services/CovidServiceReference/RegisterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Patient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Patient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CovidPatient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="FirstSymptoms" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientContact" nillable="true" type="tns:Contact" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CovidPatient" nillable="true" type="tns:CovidPatient" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfCovidPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CovidPatient" nillable="true" type="tns:CovidPatient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCovidPatient" nillable="true" type="tns:ArrayOfCovidPatient" />
</xs:schema>