ServiceClient/Connected Services/CovidServiceReference/RegisterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51624/RegisterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Patient" />
  <xs:element name="AddPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Patient" minOccurs="0" name="patient" nillable="true" type="q1:CovidPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Patient" minOccurs="0" name="GetPatientsResult" nillable="true" type="q2:ArrayOfCovidPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Patient" minOccurs="0" name="EndSessionResult" nillable="true" type="q3:ArrayOfCovidPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>